    <%- include("../partials/_navbar.ejs") %>
<h1>Create a new account</h1>
<form action="/auth/sign-up" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="userName" />
  <br />
  <label for="email">Email</label>
  <input type="email" name="email" id="email" />
  <br />
  <label for="Password">Password</label>
  <input type="password" name="password" id="password" />
  <br />
  <label for="ConfirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" id="confirmPassword" />
  <br />
  <label for="pictrue">Picture</label>
  <input type="file" name="picture" id="picture" />
  <br />
  <button type="submit">Sign up</button>
</form>
