<%- include("../partials/header") %>
<h2> Update Password </h2>
<form action="/auth/<%= userId %>?_method=PUT" method="POST">
<input type="password" name="oldPassword" placeholder="Old Password" required />
<input type="password" name="newPassword" placeholder="New Password" required />
<button type="submit">Update</button>
</form>
