<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>  Event and Invitations App </title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
  <% if (!user) { %>
  <a href="/auth/sign-up"> Sign up </a>
  <a href="/auth/sign-in"> Sign in </a>
  <% } else { %>
    <a href"#">Home</a><br>
    <a href="/events">Go to the events</a>
    <a href="/invitations">Invitations</a>
    <a href="/user/<%= user._id %>">My Profile</a>
    <a href="/auth/sign-out"> Sign Out </a>
    <% } %>
</nav>
</body>
</html>
