<nav>
  <% if(user){ %>
  <p>Welcome to event organizer App! <%= user.username %>.</p>
  <a href="/auth/sign-out"> Sign Out </a><br />
  <a href="/user/<%= user._id %>">My Profile</a> <br>
  <a href="/events">Go to the events</a> <br>
  <a href="/events/new">Create new event</a>


  <% }else { %>
  <p>Welcome to event organizer App!</p>
  <a href="/auth/sign-up"> Sign Up </a><br />
  <a href="/auth/sign-in"> Sign In </a>
  <% } %>
</nav>
