<h1>User Profile</h1>

<h3>User Information:</h3>

 <% if(user.picture) { %>
<p><img src="<%= user.picture %>" alt="profile-picture" width="90px"></p>
<% } %>
<p><b>username:</b> <%= user.username %></p>
<p><b>Email:</b> <%= user.email %></p>

<a href="/user/<%= user._id %>/edit">Edit</a>
