<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All event</title>
</head>
<body>
  <h1>List of User events </h1>
  <% if(events.length=== 0) {  %>
    <p> No events found </p>
  <% } else { %>
    <ul>
      <% events.forEach (event => { %>
        <li>
        event ID:<%= event._id %>
        <a href ="/userEvent/edit/<%= event._id %>">Edit</a>
        </li>
      <% }) %>
    </ul>
<% } %>

<form action="/userEvent/role" method="POST">
  <h3> Add new Role</h3>
  <select name="role" required>
    <option value="VIPGuest">VIPGuest</option>
    <option value="RegularGuest">RegularGuest</option>
    <option value="Helper">Helper</option>
  </select>
  <button type="submit">Add Role</button>
</form>
</body>
</html>
