<head>
  <title>All Invitation</title>
</head>
<body>
  <%-include("../partials/_navbar.ejs")%>
  <% invitations.forEach((invitation)=>{%>
<ul>
  <li><a href="/invitations/<%= invitation._id%>"><%= invitation.event_id.title %> Invitation</a></li>
</ul>
<%})%>
</body>
</html>
