<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send Invitation</title>
</head>
<body>
  <%-include("../partials/_navbar.ejs")%>
  <h1 class="successful-message">Send invitation to all users <b class="important-msg">successfully.</b></h1>
</body>
</html>
